@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* components/MovingImage.module.css */
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); /* Move from left */
  }
  to {
    transform: translateX(0); /* Move to initial position */
  }
}

.movingImage {
  animation: moveFromLeft 1s ease-in-out; /* Adjust duration and easing function as needed */
}
